- content_for(:head_js) do
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ3mRtFEUAUMqlOLgbClNnFV5PUIoTdk4&sensor=false")

.row
  .large-12.columns
    %h1.title Let's Grab a Latte

#pre-submit
  .row
    .large-12.columns
      = label_tag 'Where you are'
      / = text_field_tag 'addy1', nil, :placeholder => '123 Eureka Dr'
      = text_field_tag 'addy1', nil, :value => '129 Lexington St San Francisco'
    .large-12.columns
      = label_tag 'Where your friend is'
      / = text_field_tag 'addy2', nil, :placeholder => '456 Latte Ave'
      = text_field_tag 'addy2', nil, :value => '153 Kearny St san francisco'
    .large-12.columns
      %a.large.button#go Latte Time!

#post-submit
  .row
    .large-6.columns
      #map-canvas
  .row
    .large-12.columns#again
      %a.button.secondary#again Try again

.row#footer
  .large-12.columns
    = precede 'Made lovingly by S' do
      %sup 2